<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
    body {
      font-family: Helvetica;
    }
    </style>
    </head>
    <body>
  <title>Magic Yelp App</title>
</head>

  <!-- SITE NAVIGATION -->
  <div class="container">
    <nav>
      <h1><a href="/">Magic Yelp App</a></h1>
      <ul> Tired of trying to find the perfect place to eat? Looking for a post-Freestyle project celebratory dinner?</ul>
      <ul>Look no further! </ul> 
        <li><a href="/yelp/form">See what your delicious meal awaits you.</a></li>
      </ul>
    </nav>
    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
      <hr>
      &copy; Copyright 2022 [Caroline, Andrea, Christy, Jasmine] |
    </footer>
  </div>

</body>
</html>
