{% extends "layout.html" %}

{% block content %}
<html>
<head>
<style>
body {
  font-family: Helvetica;
}
</style>
</head>
<body>


    <h2>Find the perfect restaurant for tonight!</h2>


    <form action="/yelp/results" method="POST">

        <label><b>What is your 5-digit zip code?</b></label>
        <input type="text" name="user_zip">
        <br>

        <label><b>How many miles are you willing to go?</b></label>
        <input type="text" name="radius_limit">
        <br>

        <label><b>Are you craving anything? You can leave this blank if not!</b></label>
        <input type="text" name="category_choice">
        <br>

        <label><b>How much are you willing to pay, on a scale from 1-4 (with 4 as the most expensive)?</b></label></label>
        <input type="text" name="price_limit">
        <br>

        <button>Submit</button>
    </form>

</body>
</html>

{% endblock %}
