{% extends "layout.html" %}

{% block content %}

    <h2>Find the perfect date night!</h2>


    <form action="/yelp/form/" method="POST">

        <label>What is your 5-digit zip code?:</label>
        <input type="text" name="user_zip">
        <br>

        <label>How many miles are you willing to go?</label>
        <input type="text" name="radius">
        <br>

        <label>Are you craving anything? You can leave this blank if not!</label>
        <input type="text" name="category_choice">
        <br>

        <label><b>How much are you willing to pay, on a scale from 1-4 (with 4 as the most expensive)?</b></label></label>
        <input type="text" name="price_limit">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}